<!DOCTYPE html>
<html lang="en">
<head>
<title>Class List: Delete</title>
<meta charset="utf-8" />
</head>
<body>
<form action="api/addInfo" method="post">
<div>
<label for="studentName">Enter The Student's name that you want to edit:</label>
<input type="text" id="studentName" name="studentName">
<label for="studentNumber">Enter The Student's number:</label>
<input type="text" id="studentNum" name="studentNum">
<label for="studentCourse">Enter The Student's course:</label>
<input type="text" id="studentCourse" name="studentCourse">
</div>
<div class="button">
<button type="submit">Add</button>
</div>
</form>
</body>
</html>

