<!DOCTYPE html>
<html lang="en">
<head>
<title>Class List: Delete</title>
<meta charset="utf-8" />
</head>
<body>
<form action="api/DelCourse" method="post">
<div>
<label for="studentName">Enter The Student's name that you want to edit:</label>
<input type="text" id="studentNameDel" name="studentNameDel">
<label for="studentNumber">Enter The Student's number that you want to edit:</label>
<input type="text" id="studentNumDel" name="studentNumDel">
<label for="studentCourse">Enter the course that you want to remove:</label>
<input type="text" id="studentCourseDel" name="studentCourseDel">
</div>
<div class="button">
<button type="submit">Delete</button>
</div>
</form>
</body>
</html>

