<!DOCTYPE html>
<html lang="en">
<head>
<title>Class List</title>
<meta charset="utf-8" />
<script src="/cdn/scripts/class/index.js"></script><!-- Our JavaScript code for this page-->
</head>
<body>
<h1>Students in the School of EIE:</h1>
<ol id="classList">
<!-- The list of students in the school-->
</ol>
Student name you want to Edit, Delete or Add:
<input type="text" id="newStudentInput"></input>
New name for the student you want to Edit:
<input type="text" id="editedStudentInput"></input>
<button type="submit" id="addStudentButton">Add</button>
<button type="button" id="deleteStudentButton">Delete</button>
<button type="button" id="editStudentButton">Edit</button>
</body>
</html>